<nav class="menu">
    <ul class="list">
        <li class="item"><a href="/">Home</a></li>
        <li class="item"><a href="/search">Search User</a></li>
        <li class="item"><a href="/list/trending">Top Trends List</a></li>
    </ul>
</nav>